/* a:link{
    color:brown
}
a:visited{
    color: green;
}
a:hover{
    color:red;
}
a:active{
    color:aqua
} */


/* input:focus{
    outline: 2px red solid;
    border: none;
} */


/* .container>p:first-child{
    color:red;
}
.container>p:last-child{
    color:green;
}
.container>p:nth-child(3){
    color:brown;
}
.container>p:nth-last-child(odd){
    color:blue;
} */

input:checked{
    outline: 2px red solid;
}